.paginator {
    margin: 10px;
    position: relative;
    left: 40%;
    width: 360px;
}
.pageNumber {
    padding: 2px;
    border: 1px solid grey;
    border-radius: 10px;
    background: white;
    margin: 1px;
    cursor: pointer;
}
.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}

.paginator button {
    border-radius: 10px;
    margin: 4px;
    cursor: pointer;
}