.userPhoto {
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin-top: 20px;
}

.numberScroll span{
    margin: 3px;
}

.numberScroll {
    padding-bottom: 15px;
}

.content {
    padding: 1px;
}

.usersPadding {
    padding: 10px;
}

.usersContent {
    padding-left: 15px;
}