/* :root {
  --bg: #3C465C;
  --primary: #78FFCD;
  --solid: #fff;
  --btn-w: 1em;
  --dot-w: calc(var(--btn-w)*.2);
  --tr-X: calc(var(--btn-w) - var(--dot-w));
}
body {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  background: var(--bg);
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
} */

.header {
  grid-area: head;
  background-color: rgb(255, 255, 255);
}

.regConteiner {
  position: relative;
  float: right;
}

.loginBlock {
  float: right;
  padding-right: 10px;
}
.loginBlock a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  background: rgb(49, 71, 195);
  border: 1px solid black;
  border-radius: 7px;
}

.nameTextHeader {
  font-size: 22px;
  position: relative;
  top: 25px;
  left: 10px;
  font-style: italic;
  padding: 7px;
  color: black;
}
